<div class="box box-info">
    <div class="box-body">
        <div class="col-sm-12">
            <form id="form_UserAuthenticate" class="form-horizontal" action='{{urlfor "UserController.Modifypassword"}}' method="post" role="form">
                <p class="help-block">注意：此页面功能未实现</p>
                <div class="form-group field-old_password required">
                    <label class="control-label col-sm-2" for="old_password">旧密码</label>
                    <div class="col-sm-4">
                        <input type="password" id="old_password" class="form-control" name="old_password" maxlength="32" placeholder="旧密码">
                        <div class="help-block help-block-error "></div>
                    </div>
                </div>
                <div class="form-group field-new_password required">
                    <label class="control-label col-sm-2" for="new_password">新密码</label>
                    <div class="col-sm-4">
                        <input type="password" id="new_password" class="form-control" name="new_password" maxlength="32" placeholder="新密码">
                        <div class="help-block help-block-error "></div>
                    </div>
                </div>
                <div class="form-group field-confirm_password required">
                    <label class="control-label col-sm-2" for="confirm_password">确认新密码</label>
                    <div class="col-sm-4">
                        <input type="password" id="confirm_password" class="form-control" name="confirm_password" maxlength="32" placeholder="确认新密码">
                        <div class="help-block help-block-error "></div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>

