{{$error_len := len .alert_messages.Error_messages}}
{{$success_len := len .alert_messages.Success_messages}}
{{$info_len := len .alert_messages.Info_messages}}
{{$warning_len := len .alert_messages.Warning_messages}}

{{if gt $error_len 0}}
<div class="alert alert-danger fade in">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	<i class='icon fa fa-ban'></i>
	{{range $message := .alert_messages.Error_messages}}
		{{$message}}
	{{end}}
</div>
{{end}}

{{if gt $success_len 0}}
<div class="alert alert-success fade in">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	<i class='icon fa fa-check'></i>
	{{range $message := .alert_messages.Success_messages}}
		{{$message}}
	{{end}}
</div>
{{end}}

{{if gt $info_len 0}}
<div class="alert alert-info fade in">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	<i class='icon fa fa-info'></i>
	{{range $message := .alert_messages.Info_messages}}
		{{$message}}
	{{end}}
</div>
{{end}}

{{if gt $warning_len 0}}
<div class="alert alert-warning fade in">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	<i class='icon fa fa-warning'></i>
	{{range $message := .alert_messages.Warning_messages}}
		{{$message}}
	{{end}}
</div>
{{end}}