<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>{{.siteTitle}}</title>
        <link rel="stylesheet" href="/static/bower_extensions/bootstrap/dist/css/bootstrap.min.css?v={{.siteStaticVersion}}" type="text/css">
        <link rel="stylesheet" href="/static/bower_extensions/font-awesome/css/font-awesome.min.css?v={{.siteStaticVersion}}" type="text/css">
        <link rel="stylesheet" href="/static/bower_extensions/admin-lte/dist/css/AdminLTE.min.css?v={{.siteStaticVersion}}" type="text/css">
        <link rel="stylesheet" href="/static/bower_extensions/admin-lte/dist/css/skins/skin-blue.css?v={{.siteStaticVersion}}" type="text/css">
        <link rel="stylesheet" href="/static/css/common.css?v={{.siteStaticVersion}}" type="text/css">
    </head>
    <body class="skin-blue sidebar-mini">
        <div class="wrapper">
            <header class="main-header">
                <a href="index2.html" class="logo">
                    {{.app_name}}
                </a>


            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
              <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">  
                  <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <i class="fa fa-user"></i>
                      <span class="hidden-xs">你好，管理员</span>
                    </a>
                    <ul class="dropdown-menu">
                      <li class="user-body">
                        <div class="text-center">
                          最近登录时间
                        </div>
                        
                      </li>
                      
                      <li class="user-footer">
                        <div class="pull-left">
                          <a href="#" class="btn btn-primary btn-flat">修改密码</a>
                        </div>
                        <div class="pull-right">
                          <a href="#" class="btn btn-default btn-flat">退出</a>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>

            </nav>
            </header>
            <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar" style="height: auto;">
              <!-- sidebar menu: : style can be found in sidebar.less -->
              <ul class="sidebar-menu tree" data-widget="tree">
                
                <li class="active treeview menu-open">
                  <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li><a href="index.html"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
                    <li class="active"><a href="index2.html"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
                  </ul>
                </li>
                <li><a href="https://adminlte.io/docs"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
              </ul>
            </section>
            <!-- /.sidebar -->
          </aside>
            <div class="content-wrapper">
                <section class="content-header" style="height:40px">
                    
                </section>

                <section class="content">
                    {{.LayoutContent}}
                </section>
            </div>
        </div>
        <script src="/static/bower_extensions/jquery/dist/jquery.min.js?v={{.siteStaticVersion}}"></script>
        <script src="/static/bower_extensions/bootstrap/dist/js/bootstrap.min.js?v={{.siteStaticVersion}}"></script>
        <script src="/static/bower_extensions/admin-lte/dist/js/adminlte.min.js?v={{.siteStaticVersion}}"></script>
        <script src="/static/js/common.js?v={{.siteStaticVersion}}"></script>
    </body>
</html>