<!DOCTYPE html>
<html>
    <head>
        {{template "layout/header.html" .}}
    </head>
    <body class="skin-blue sidebar-mini">
        <div class="wrapper">
            <header class="main-header">
                <a href="index2.html" class="logo">
                    {{.app_name}}
                </a>

            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
              <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">  
                  <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <i class="fa fa-user"></i>
                      <span class="hidden-xs">你好，管理员</span>
                    </a>
                    <ul class="dropdown-menu">
                      <li class="user-body">
                        <div class="text-center">
                          最近登录时间
                        </div>
                        
                      </li>
                      
                      <li class="user-footer">
                        <div class="pull-left">
                          <a href="/user/modifypassword" class="btn btn-primary btn-flat">修改密码</a>
                        </div>
                        <div class="pull-right">
                          <a href="/site/logout" class="btn btn-default btn-flat">退出</a>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>

            </nav>
            </header>
            <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar" style="height: auto;">
              <!-- sidebar menu: : style can be found in sidebar.less -->
              <ul class="sidebar-menu tree" data-widget="tree">
                <li class="active"><a href='{{urlfor "JobController.Index"}}'><i class="fa fa-book"></i> <span>任务管理</span></a></li>
              </ul>
            </section>
            <!-- /.sidebar -->
          </aside>
            <div class="content-wrapper">
              <section class="content-header">
                <h1>{{.pageTitle}}&nbsp;</h1>
                <ul class="breadcrumb">
                  <li>
                    <a href='{{urlfor "SiteController.Index"}}'>
                      <i class='fa fa-dashboard'></i>
                      首页
                    </a>
                  </li>
                  {{range $breadcrumb := .breadcrumbs}}
                  <li>
                    <a href='{{index $breadcrumb "url"}}'>
                      {{index $breadcrumb "label"}}
                    </a>
                  </li>
                  {{end}}
                </ul>
              </section>
              <section class="content">
                  {{.LayoutContent}}
              </section>
            </div>
        </div>
        {{template "layout/footer.html" .}}
    </body>
</html>
